#effectifglobaux,
#type_de_contrat,
#effectifglobauxx,
#repartition_homme_femme,
#repartition_homme_femme_chantier,
#repartition_homme_femme_entretien,
#repartition_homme_femme_bureau,
#communes,
#qualification_contractuelle,
#repartition_nationalite,
#repartition_service,
#repartition_tranche_age,
#repartition_ancienete,
#bilan_entre_sorti
{
    height: 250px !important;
    max-width: 600px;
    margin: 0 auto;
}