#effectifglobaux,
#repartition_homme_femme,
#qualification_contractuelle,
#repartition_nationalite,
#repartition_service,
#repartition_tranche_age,
#repartition_ancienete,
#bilan_entre_sorti
{
    height: 250px !important;
    max-width: 600px;
    margin: 0 auto;
}